<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Final Project Suite">
    <test thread-count="5" name="API and UI Tests">
        <classes>
            <class name="API_tests.ProductApiTests"/>
            <class name="UI_tests.UserWorkFlowTests"/>
            <class name="API_tests.APItest"/>

            <class name="UI_tests.SearchAndSubscriptionTests"/>
            <class name="API_tests.UserApiTests"/>
        </classes>
    </test>
</suite>